body
{
    background-color: #2D3142
}

h1
{
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: lime;
}

p
{
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

a:link
{
    color: red;
}

a:visited
{
    color: red;
}

a:hover
{
    color: lime;
}
